**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/.dockerignore
**/.git
**/.gitignore
**/docker-compose*
**/Dockerfile*
**/.env
**/secrets.json
**/node_modules
**/npm-debug.log
**/.DS_Store
**/wwwroot/lib
**/appsettings.Development.json
README.md
SETUP.md
